Repository kinoplan/utils, pull requests merged in 2023-11, with the labels that each got.

#458 Update tapir-server to 1.8.4
  project/Dependencies.scala
Labels: dependencies

#459 Update tapir-server to 1.8.5
  project/Dependencies.scala
Labels: dependencies

#462 Update zio to 2.0.19
  project/Dependencies.scala
Labels: dependencies

#463 Update slf4j-backend to 3.9.1
  project/Dependencies.scala
Labels: dependencies

#465 Update play to 2.8.21
  project/Dependencies.scala
Labels: dependencies

#464 Update tapir-server to 1.9.0
  project/Dependencies.scala
Labels: dependencies

#468 Update http4s-dsl, http4s-server to 0.23.24
  project/Dependencies.scala
Labels: dependencies

#469 Update jackson-module-scala to 2.16.0
  project/Dependencies.scala
Labels: dependencies

#470 Update scalafmt-core to 3.7.17
  .scalafmt.conf
Labels: dependencies

#467 Add default comment for find* queries with call method info
  common/reactivemongo/base/src/main/scala/io/kinoplan/utils/reactivemongo/base/BsonDocumentSyntax.scala
  common/reactivemongo/base/src/main/scala/io/kinoplan/utils/reactivemongo/base/Queries.scala
  common/reactivemongo/base/src/main/scala/io/kinoplan/utils/reactivemongo/base/QueryComment.scala
  play/reactivemongo/src/main/scala/io/kinoplan/utils/play/reactivemongo/ReactiveMongoDaoBase.scala
  project/Dependencies.scala
  project/ModulesCommon.scala
  zio/reactivemongo/src/main/scala/io/kinoplan/utils/zio/reactivemongo/ReactiveMongoDaoBase.scala
Labels: enhancement

#471 Update tapir-server to 1.9.1
  project/Dependencies.scala
Labels: dependencies

#472 Downgrade redisson to 3.24.2
  project/Dependencies.scala
Labels: bug

#474 Change play-json to Provided in utils-redisson-codec-play-json
  project/ModulesCommon.scala
Labels: perf

#475 Update tapir-server to 1.9.2
  project/Dependencies.scala
Labels: dependencies
