Repository kinoplan/utils, pull requests merged in 2023-04, with the labels that each got.

#321 Update joda-time to 2.12.5
  project/Dependencies.scala
Labels: dependencies

#323 Update zio to 2.0.11
  project/Dependencies.scala
Labels: dependencies

#326 Update zio to 2.0.12
  project/Dependencies.scala
Labels: dependencies

#327 Update sbt-scalajs, scalajs-compiler, ... to 1.13.1
  project/plugins.sbt
Labels: dependencies

#325 Update sbt-scalajs-crossproject to 1.3.0
  project/plugins.sbt
Labels: dependencies

#324 Update zio-interop-cats to 23.0.0.3
  project/Dependencies.scala
Labels: dependencies

#328 Update zio-interop-cats to 23.0.0.4
  project/Dependencies.scala
Labels: dependencies

#333 Add zio sttp slf4j logging
  .sbtopts
  README.md
  build.sbt
  project/Dependencies.scala
  project/ModulesZio.scala
  zio/sttp/logging/slf4j/src/main/scala/io/kinoplan/utils/zio/sttp/logging/slf4j/ZIoSlf4jLogger.scala
  zio/sttp/logging/slf4j/src/main/scala/io/kinoplan/utils/zio/sttp/logging/slf4j/ZioSlf4jLoggingBackend.scala
Labels: enhancement

#336 Add request id interceptor in utils zio tapir server
  README.md
  build.sbt
  common/http4s/server/src/main/scala/io/kinoplan/utils/http4s/server/middleware/CustomRequestId.scala
  project/Dependencies.scala
  project/ModulesZio.scala
  zio/tapir/server/src/main/scala/io/kinoplan/utils/zio/tapir/server/RequestId.scala
Labels: enhancement

#337 Update slf4j-backend to 3.8.15
  project/Dependencies.scala
Labels: dependencies

#338 Add improvements for reactivemongo zio & play
  build.sbt
  common/reactivemongo/base/src/main/scala/io/kinoplan/utils/reactivemongo/base/Queries.scala
  common/reactivemongo/base/src/main/scala/io/kinoplan/utils/reactivemongo/base/QueryBuilderSyntax.scala
  play/reactivemongo/src/main/scala/io/kinoplan/utils/play/reactivemongo/ReactiveMongoDaoBase.scala
  project/Dependencies.scala
  project/ModulesZio.scala
  zio/reactivemongo/src/main/scala/io/kinoplan/utils/zio/reactivemongo/ReactiveMongoApi.scala
  zio/reactivemongo/src/main/scala/io/kinoplan/utils/zio/reactivemongo/ReactiveMongoDaoBase.scala
  zio/reactivemongo/src/main/scala/io/kinoplan/utils/zio/reactivemongo/bson/BsonHandlers.scala
  zio/reactivemongo/src/main/scala/io/kinoplan/utils/zio/reactivemongo/config/MongoConfig.scala
  zio/reactivemongo/src/main/scala/io/kinoplan/utils/zio/reactivemongo/daos/Queries.scala
  zio/reactivemongo/src/main/scala/io/kinoplan/utils/zio/reactivemongo/daos/ReactiveMongoDaoBase.scala
  zio/reactivemongo/src/main/scala/io/kinoplan/utils/zio/reactivemongo/driver/AsyncDriverResource.scala
  zio/reactivemongo/src/main/scala/io/kinoplan/utils/zio/reactivemongo/models/SmartIndex.scala
  zio/reactivemongo/src/main/scala/io/kinoplan/utils/zio/reactivemongo/module/Reactivemongo.scala
  zio/reactivemongo/src/main/scala/io/kinoplan/utils/zio/reactivemongo/syntax/ReactiveMongoSyntax.scala
Labels: enhancement

#343 Fix readPreference for utils reactivemongo
  common/reactivemongo/base/src/main/scala/io/kinoplan/utils/reactivemongo/base/Queries.scala
  play/reactivemongo/src/main/scala/io/kinoplan/utils/play/reactivemongo/ReactiveMongoDaoBase.scala
  zio/reactivemongo/src/main/scala/io/kinoplan/utils/zio/reactivemongo/ReactiveMongoDaoBase.scala
Labels: bug

#345 Update tapir-server to 1.2.13
  project/Dependencies.scala
Labels: dependencies

#344 Update jackson-module-scala to 2.15.0
  project/Dependencies.scala
Labels: dependencies

#348 Update redisson to 3.21.0
  project/Dependencies.scala
Labels: dependencies

#346 Update tapir-server to 1.3.0
  project/Dependencies.scala
Labels: dependencies

#347 Update zio-interop-cats to 23.0.0.5
  project/Dependencies.scala
Labels: dependencies
