Repository kinoplan/utils, pull requests merged in 2024-08, with the labels that each got.

#664 Add support Instant in implicits java time
  implicits/date/java-time/src/main/scala/io/kinoplan/utils/implicits/java/time/InstantSyntax.scala
  implicits/date/java-time/src/test/scala/io/kinoplan/utils/implicits/java/time/InstantSyntaxSpec.scala
Labels: feature

#665 Update tapir-core, tapir-server to 1.11.0
  project/Dependencies.scala
Labels: dependencies

#667 Update sbt-ci-release to 1.6.0
  project/plugins.sbt
Labels: dependencies

#669 Update tapir-core, tapir-server to 1.11.1
  project/Dependencies.scala
Labels: dependencies

#672 Update micrometer-registry-prometheus to 1.12.9
  project/Dependencies.scala
Labels: dependencies

#673 Update opentelemetry-exporter-logging-otlp, ... to 1.41.0
  project/Dependencies.scala
Labels: dependencies

#668 Update client3:core, ... to 3.9.8
  project/Dependencies.scala
Labels: dependencies

#675 Drop java 8 support
  .github/workflows/build.yml
  .github/workflows/release.yml
Labels: build

#670 Update zio-interop-cats to 23.1.0.3
  project/Dependencies.scala
Labels: dependencies

#666 Update zio, zio-test, zio-test-sbt to 2.1.7
  build.sbt
  implicits/zio/js/src/test/scala/io/kinoplan/utils/implicits/zio/ZioSyntaxSpec.scala
  implicits/zio/jvm/src/test/scala/io/kinoplan/utils/implicits/zio/ZioSyntaxSpec.scala
  implicits/zio/shared/src/main/scala/io/kinoplan/utils/implicits/zio/FutureToZioSyntax.scala
  implicits/zio/shared/src/main/scala/io/kinoplan/utils/implicits/zio/ZioSyntax.scala
  implicits/zio/shared/src/test/scala/io/kinoplan/utils/implicits/zio/FutureToZioSyntaxSpec.scala
  project/Dependencies.scala
  project/ModulesImplicits.scala
Labels: dependencies

#671 Update zio-opentelemetry to 3.0.0-RC25
  project/Dependencies.scala
Labels: dependencies

#674 Update micrometer-registry-prometheus to 1.13.3
  project/Dependencies.scala
  project/ModulesZio.scala
  zio/monitoring/prometheus/src/main/scala/io/kinoplan/utils/zio/monitoring/PrometheusModule.scala
  zio/monitoring/prometheus/src/main/scala/io/kinoplan/utils/zio/monitoring/PrometheusServer.scala
Labels: dependencies

#676 Update logback-classic, logback-core to 1.5.7
  project/Dependencies.scala
Labels: dependencies

#677 Update sbt-tpolecat to 0.5.2
  project/plugins.sbt
Labels: dependencies

#679 Fix nullable tapir codec
  common/nullable/codec/tapir/src/main/scala/io/kinoplan/utils/nullable/TapirCodecNullable.scala
  common/nullable/codec/tapir/src/test/scala/io/kinoplan/utils/nullable/TapirCodecNullableSpec.scala
Labels: bugfix

#680 Update sbt-ci-release to 1.6.1
  project/plugins.sbt
Labels: dependencies

#682 Update sbt-scoverage to 2.1.1
  project/plugins.sbt
Labels: dependencies

#681 Update zio-opentelemetry to 3.0.0-RC26
  project/Dependencies.scala
Labels: dependencies

#684 Update zio, zio-test, zio-test-sbt to 2.1.9
  project/Dependencies.scala
Labels: dependencies

#686 Fix nullable tapir codec subtype format
  common/nullable/codec/tapir/src/main/scala/io/kinoplan/utils/nullable/TapirCodecNullable.scala
  common/nullable/codec/tapir/src/test/scala/io/kinoplan/utils/nullable/SchemaDate.scala
  common/nullable/codec/tapir/src/test/scala/io/kinoplan/utils/nullable/TapirCodecNullableSpec.scala
  common/nullable/codec/tapir/src/test/scala/io/kinoplan/utils/nullable/TestType.scala
Labels: bugfix
