Repository kinoplan/utils, pull requests merged in 2024-11, with the labels that each got.

#763 Migrate to sbt-projectmatrix
  .github/workflows/build.yml
  .mergify.yml
  build.sbt
  implicits/zio/js/src/test/scala/io/kinoplan/utils/implicits/zio/ZioSyntaxSpec.scala
  implicits/zio/src/main/scala/io/kinoplan/utils/implicits/zio/FutureToZioSyntax.scala
  implicits/zio/src/main/scala/io/kinoplan/utils/implicits/zio/ZioSyntax.scala
  implicits/zio/src/test/scala/io/kinoplan/utils/implicits/zio/FutureToZioSyntaxSpec.scala
  implicits/zio/src/test/scala/io/kinoplan/utils/implicits/zio/ZioSyntaxSpec.scala
  implicits/zio/src/test/scalajs/io/kinoplan/utils/implicits/zio/ZioSyntaxSpecExtensions.scala
  implicits/zio/src/test/scalajvm/io/kinoplan/utils/implicits/zio/ZioSyntaxSpecExtensions.scala
  project/Dependencies.scala
  project/ModulesCommon.scala
  project/ModulesImplicits.scala
  project/ModulesZio.scala
  project/ProjectSettings.scala
  project/plugins.sbt
Labels: build

#760 Separate play to 2.x.x and 3.x.x
  .github/workflows/build.yml
  README.md
  build.sbt
  play/error-handler/src/test/scala/io/kinoplan/utils/play/error/ErrorHandlerSpec.scala
  play/filters/logging/src/main/play-2/io/kinoplan/utils/play/compat/package.scala
  play/filters/logging/src/main/play-3/io/kinoplan/utils/play/compat/package.scala
  play/filters/logging/src/main/scala/io/kinoplan/utils/play/filters/logging/LoggingFilter.scala
  play/filters/logging/src/test/scala/io/kinoplan/utils/play/filters/logging/LoggingFilterSpec.scala
  project/CustomAxis.scala
  project/Dependencies.scala
  project/ModulesPlay.scala
  project/ProjectSettings.scala
Labels: feature

#765 Update zio-opentelemetry to 3.0.1
  project/Dependencies.scala
Labels: dependencies

#766 Update http4s-blaze-server to 0.23.17
  project/Dependencies.scala
Labels: dependencies

#764 Update tapir-core, tapir-server to 1.11.8
  project/Dependencies.scala
Labels: dependencies

#767 Update sbt, sbt-dependency-tree, ... to 1.10.5
  project/build.properties
Labels: dependencies

#768 Update zio, zio-test, zio-test-sbt to 2.1.12
  project/Dependencies.scala
Labels: dependencies

#772 Update prometheus-metrics-exporter-httpserver to 1.3.3
  project/Dependencies.scala
Labels: dependencies

#771 Update opentelemetry-exporter-logging-otlp, ... to 1.44.0
  project/Dependencies.scala
Labels: dependencies

#773 Update opentelemetry-exporter-logging-otlp, ... to 1.44.1
  project/Dependencies.scala
Labels: dependencies

#774 Update tapir-core, tapir-server to 1.11.9
  project/Dependencies.scala
Labels: dependencies

#776 Update micrometer-registry-prometheus to 1.13.7
  project/Dependencies.scala
Labels: dependencies

#778 Update micrometer-registry-prometheus to 1.13.8
  project/Dependencies.scala
Labels: dependencies

#779 Update micrometer-registry-prometheus to 1.14.1
  project/Dependencies.scala
Labels: dependencies

#777 Update zio-prelude to 1.0.0-RC34
  project/Dependencies.scala
Labels: dependencies

#781 Update zio, zio-test, zio-test-sbt to 2.1.13
  project/Dependencies.scala
Labels: dependencies

#782 Update zio-prelude to 1.0.0-RC35
  project/Dependencies.scala
Labels: dependencies

#784 Update zio-opentelemetry to 3.0.2
  project/Dependencies.scala
Labels: dependencies

#783 Update sbt-projectmatrix to 0.10.1
  project/plugins.sbt
Labels: dependencies

#785 Update zio-opentelemetry to 3.1.0
  project/Dependencies.scala
Labels: dependencies

#786 Update prometheus-metrics-exporter-httpserver to 1.3.4
  project/Dependencies.scala
Labels: dependencies

#789 Update jackson-module-scala to 2.18.2
  project/Dependencies.scala
Labels: dependencies

#790 Update play to 3.0.6
  project/Dependencies.scala
Labels: dependencies
