Repository kinoplan/utils, pull requests merged in 2024-10, with the labels that each got.

#712 Update micrometer-registry-prometheus to 1.13.5
  project/Dependencies.scala
Labels: dependencies

#713 Update kamon-core to 2.7.4
  project/Dependencies.scala
Labels: dependencies

#714 Update logback-classic, logback-core to 1.5.9
  project/Dependencies.scala
Labels: dependencies

#716 Update tapir-core, tapir-server to 1.11.6
  project/Dependencies.scala
Labels: dependencies

#715 Update sbt-ci-release to 1.7.0
  project/plugins.sbt
Labels: dependencies

#718 Update tapir-core, tapir-server to 1.11.7
  project/Dependencies.scala
Labels: dependencies

#727 Fix CI (enable sbt runner from GitHub Actions)
  .github/workflows/build.yml
  .github/workflows/release.yml
Labels: ci

#720 Update logback-classic, logback-core to 1.5.10
  project/Dependencies.scala
Labels: dependencies

#728 Update sbt-ci-release to 1.8.0
  project/plugins.sbt
Labels: dependencies

#721 Update zio, zio-test, zio-test-sbt to 2.1.11
  project/Dependencies.scala
Labels: dependencies

#722 Update kamon-core to 2.7.5
  project/Dependencies.scala
Labels: dependencies

#729 Update logback-classic, logback-core to 1.5.11
  project/Dependencies.scala
Labels: dependencies

#730 Update client3:core, ... to 3.10.1
  project/Dependencies.scala
Labels: dependencies

#731 Update micrometer-registry-prometheus to 1.13.6
  project/Dependencies.scala
Labels: dependencies

#734 Update prometheus-metrics-exporter-httpserver to 1.3.2
  project/Dependencies.scala
Labels: dependencies

#736 Update sbt-scoverage to 2.2.2
  project/plugins.sbt
Labels: dependencies

#735 Update sbt, sbt-dependency-tree, ... to 1.10.3
  project/build.properties
Labels: dependencies

#737 Update sbt-ci-release to 1.9.0
  project/plugins.sbt
Labels: dependencies

#733 Update zio-opentelemetry to 3.0.0
  project/Dependencies.scala
Labels: dependencies

#740 Update http4s-dsl, http4s-server to 0.23.29
  project/Dependencies.scala
Labels: dependencies

#739 Separating codec from redission-core
  README.md
  build.sbt
  common/cross/collection/src/main/scala-2.12/io/kinoplan/utils/cross/collection/MapSyntax.scala
  common/cross/collection/src/main/scala-2.12/io/kinoplan/utils/cross/collection/package.scala
  common/cross/collection/src/main/scala-2.13/io/kinoplan/utils/cross/collection/MapSyntax.scala
  common/cross/collection/src/main/scala-2.13/io/kinoplan/utils/cross/collection/package.scala
  common/redisson/codec/base/src/main/scala/io/kinoplan/utils/redisson/codec/DefaultRedisCodecs.scala
  common/redisson/codec/base/src/main/scala/io/kinoplan/utils/redisson/codec/DefaultRedisDecoders.scala
  common/redisson/codec/base/src/main/scala/io/kinoplan/utils/redisson/codec/DefaultRedisEncoders.scala
  common/redisson/codec/base/src/main/scala/io/kinoplan/utils/redisson/codec/RedisDecoder.scala
  common/redisson/codec/base/src/main/scala/io/kinoplan/utils/redisson/codec/RedisEncoder.scala
  common/redisson/codec/circe/src/main/scala/io/kinoplan/utils/redisson/codec/CirceRedisDecoders.scala
  common/redisson/codec/circe/src/main/scala/io/kinoplan/utils/redisson/codec/CirceRedisEncoders.scala
  common/redisson/codec/play-json/src/main/scala/io/kinoplan/utils/redisson/codec/PlayJsonRedisDecoders.scala
  common/redisson/codec/play-json/src/main/scala/io/kinoplan/utils/redisson/codec/PlayJsonRedisEncoders.scala
  common/redisson/core/src/main/scala-2.12/io/kinoplan/utils/redisson/MapSyntax.scala
  common/redisson/core/src/main/scala-2.12/io/kinoplan/utils/redisson/package.scala
  common/redisson/core/src/main/scala-2.13/io/kinoplan/utils/redisson/MapSyntax.scala
  common/redisson/core/src/main/scala-2.13/io/kinoplan/utils/redisson/package.scala
  common/redisson/core/src/main/scala/io/kinoplan/utils/redisson/core/JavaDecoders.scala
  common/redisson/core/src/main/scala/io/kinoplan/utils/redisson/core/client/RedisMasterClientBase.scala
  common/redisson/core/src/main/scala/io/kinoplan/utils/redisson/core/client/RedisSentinelClientBase.scala
  common/redisson/core/src/main/scala/io/kinoplan/utils/redisson/core/operation/RedisArrayOperations.scala
  common/redisson/core/src/main/scala/io/kinoplan/utils/redisson/core/operation/RedisHashmapOperations.scala
  common/redisson/core/src/main/scala/io/kinoplan/utils/redisson/core/operation/RedisKeysOperations.scala
  common/redisson/core/src/main/scala/io/kinoplan/utils/redisson/core/operation/RedisScoredSetOperations.scala
  common/redisson/core/src/main/scala/io/kinoplan/utils/redisson/core/operation/RedisSetOperations.scala
  common/redisson/core/src/main/scala/io/kinoplan/utils/redisson/core/operation/RedisStreamOperations.scala
  common/redisson/core/src/main/scala/io/kinoplan/utils/redisson/core/operation/RedisTopicOperations.scala
  common/redisson/core/src/main/scala/io/kinoplan/utils/redisson/core/operation/RedisValueOperations.scala
  project/ModulesCommon.scala
  project/ProjectSettings.scala
Labels: refactor

#742 Use setIfAbsent in setExNx instead of setIfExist in redisson
  common/redisson/core/src/main/scala/io/kinoplan/utils/redisson/core/operation/RedisValueOperations.scala
Labels: bugfix

#744 Add reactivemongo bson zio-prelude
  build.sbt
  common/reactivemongo/bson-zio-prelude/src/main/scala/io/kinoplan/utils/reactivemongo/bson/zio/prelude/BsonZioPreludeHandlers.scala
  common/reactivemongo/bson-zio-prelude/src/test/scala/io/kinoplan/utils/reactivemongo/bson/zio/prelude/BsonZioPreludeHandlersSpec.scala
  common/reactivemongo/bson-zio-prelude/src/test/scala/io/kinoplan/utils/reactivemongo/bson/zio/prelude/TestData.scala
  project/Dependencies.scala
  project/ModulesCommon.scala
Labels: feature

#746 Add circe zio-prelude
  README.md
  build.sbt
  common/circe/zio-prelude/src/main/scala/io/circe/CirceAccessors.scala
  common/circe/zio-prelude/src/main/scala/io/circe/NonEmptyMapDecoder.scala
  common/circe/zio-prelude/src/main/scala/io/kinoplan/utils/circe/zio/prelude/CirceCodecPrelude.scala
  common/circe/zio-prelude/src/test/scala/io/kinoplan/utils/circe/zio/prelude/CirceCodecPreludeSpec.scala
  common/circe/zio-prelude/src/test/scala/io/kinoplan/utils/circe/zio/prelude/TestData.scala
  common/reactivemongo/bson-zio-prelude/src/main/scala/io/kinoplan/utils/reactivemongo/bson/zio/prelude/BsonPreludeHandlers.scala
  common/reactivemongo/bson-zio-prelude/src/test/scala/io/kinoplan/utils/reactivemongo/bson/zio/prelude/BsonPreludeHandlersSpec.scala
  common/reactivemongo/bson-zio-prelude/src/test/scala/io/kinoplan/utils/reactivemongo/bson/zio/prelude/TestData.scala
  project/Dependencies.scala
  project/ModulesCommon.scala
Labels: feature

#748 Update logback-classic, logback-core to 1.5.12
  project/Dependencies.scala
Labels: dependencies

#749 Add tapir zio-prelude
  README.md
  build.sbt
  common/nullable/codec/tapir/src/test/scala/io/kinoplan/utils/nullable/TestType.scala
  common/tapir/zio-prelude/src/main/scala/io/kinoplan/utils/tapir/zio/prelude/TapirCodecPrelude.scala
  common/tapir/zio-prelude/src/main/scala/io/kinoplan/utils/tapir/zio/prelude/ValidatorPrelude.scala
  common/tapir/zio-prelude/src/test/scala/io/kinoplan/utils/tapir/zio/prelude/TapirCodecPreludeSpec.scala
  common/tapir/zio-prelude/src/test/scala/io/kinoplan/utils/tapir/zio/prelude/ValidatorPreludeSpec.scala
  project/Dependencies.scala
  project/ModulesCommon.scala
Labels: feature

#751 Add implicits zio-prelude
  .sbtopts
  README.md
  build.sbt
  implicits/zio-prelude/src/main/scala-2.12/io/kinoplan/utils/implicits/zio/prelude/ZioPreludeCollectionSyntax.scala
  implicits/zio-prelude/src/main/scala-2.13/io/kinoplan/utils/implicits/zio/prelude/ZioPreludeCollectionSyntax.scala
  implicits/zio-prelude/src/test/scala/io/kinoplan/utils/implicits/zio/prelude/ZioPreludeCollectionSyntaxSpec.scala
  project/ModulesImplicits.scala
  project/ProjectSettings.scala
Labels: feature

#753 Add chimney zio-prelude
  README.md
  build.sbt
  common/chimney/zio-prelude/src/main/scala/io/kinoplan/utils/chimney/zio/prelude/ChimneyImplicitsPrelude.scala
  common/chimney/zio-prelude/src/test/scala/io/kinoplan/utils/chimney/zio/prelude/ChimneyImplicitsPreludeSpec.scala
  project/Dependencies.scala
  project/ModulesCommon.scala
Labels: feature

#755 Update sbt, sbt-dependency-tree, ... to 1.10.4
  project/build.properties
Labels: dependencies

#756 Add circe reactivemongo bson
  README.md
  build.sbt
  common/circe/reactivemongo-bson/src/main/scala/io/kinoplan/utils/circe/reactivemongo/bson/CirceCodecBson.scala
  common/circe/reactivemongo-bson/src/test/scala/io/kinoplan/utils/circe/reactivemongo/bson/CirceCodecBsonSpec.scala
  common/circe/reactivemongo-bson/src/test/scala/io/kinoplan/utils/circe/reactivemongo/bson/TestData.scala
  project/Dependencies.scala
  project/ModulesCommon.scala
Labels: feature

#758 Separate play-json to 2.x.x and 3.x.x
  README.md
  build.sbt
  project/Dependencies.scala
  project/ModulesCommon.scala
Labels: feature

#761 Update jackson-module-scala to 2.18.1
  project/Dependencies.scala
Labels: dependencies
