Repository kinoplan/utils, pull requests merged in 2024-05, with the labels that each got.

#586 Add implicits zio syntax
  README.md
  build.sbt
  implicits/zio/src/main/scala/io/kinoplan/utils/implicits/zio/FutureToZioSyntax.scala
  implicits/zio/src/main/scala/io/kinoplan/utils/implicits/zio/ZioSyntax.scala
  implicits/zio/src/test/scala/io/kinoplan/utils/implicits/zio/FutureToZioSyntaxSpec.scala
  implicits/zio/src/test/scala/io/kinoplan/utils/implicits/zio/ZioSyntaxSpec.scala
  project/Dependencies.scala
  project/ModulesImplicits.scala
  project/ModulesZio.scala
  project/ProjectSettings.scala
Labels: feature

#589 Update sbt-scalafix to 0.12.1
  project/plugins.sbt
Labels: dependencies

#592 Update play-json to 2.10.5
  project/Dependencies.scala
Labels: dependencies

#591 Update client3:core, ... to 3.9.6
  project/Dependencies.scala
Labels: dependencies

#590 Update jackson-module-scala to 2.17.1
  project/Dependencies.scala
Labels: dependencies

#593 Update zio-config, zio-config-enumeratum, ... to 4.0.2
  project/Dependencies.scala
Labels: dependencies

#597 Update sbt-scoverage to 2.0.12
  project/plugins.sbt
Labels: dependencies

#594 Update zio-opentelemetry to 3.0.0-RC23
  project/Dependencies.scala
Labels: dependencies

#595 Update http4s-dsl, http4s-server to 0.23.27
  project/Dependencies.scala
Labels: dependencies

#596 Update scala-library, scala-reflect to 2.13.14
  .github/workflows/build.yml
  project/ProjectSettings.scala
Labels: dependencies

#601 Update locales-full-db to 1.5.2
  project/Dependencies.scala
Labels: dependencies

#602 Update sbt-locales to 4.3.0
  project/plugins.sbt
Labels: dependencies

#599 Update sbt, sbt-dependency-tree to 1.10.0
  project/build.properties
Labels: dependencies

#603 Update tapir-core, tapir-server to 1.10.7
  project/Dependencies.scala
Labels: dependencies

#605 Update scala-java-locales to 1.5.2
  project/Dependencies.scala
Labels: dependencies

#606 Update opentelemetry-exporter-logging-otlp, ... to 1.38.0
  project/Dependencies.scala
Labels: dependencies

#607 Update micrometer-registry-prometheus to 1.12.6
  project/Dependencies.scala
Labels: dependencies

#609 Update sbt-locales to 4.4.0
  project/plugins.sbt
Labels: dependencies

#613 Remove deprecated scalafixScalaBinaryVersion
  scalafix.sbt
Labels: chore

#614 Update cldr to 45.0
  project/ModulesCommon.scala
Labels: dependencies

#588 Add implicits identity
  README.md
  build.sbt
  implicits/identity/src/main/scala/io/kinoplan/utils/implicits/identity/IdentitySyntax.scala
  implicits/identity/src/test/scala/io/kinoplan/utils/implicits/identity/IdentitySyntaxSpec.scala
  project/ModulesImplicits.scala
Labels: feature

#618 Update client3:core, ... to 3.9.7
  project/Dependencies.scala
Labels: dependencies

#620 Update sbt-shading to 2.1.5
  project/plugins.sbt
Labels: dependencies

#621 Update sourcecode to 0.4.2
  project/Dependencies.scala
Labels: dependencies

#623 Update tapir-core, tapir-server to 1.10.8
  project/Dependencies.scala
Labels: dependencies

#624 Update sbt-locales to 4.5.0
  project/plugins.sbt
Labels: dependencies
