Repository kinoplan/utils, pull requests merged in 2025-02, with the labels that each got.

#834 Update joda-time to 2.13.1
  project/Dependencies.scala
Labels: dependencies

#835 Update scala-collection-compat to 2.13.0
  project/Dependencies.scala
Labels: dependencies

#816 Update sbt-scalafix to 0.14.0
  project/plugins.sbt
Labels: dependencies

#824 Update scala-library, scala-reflect to 2.13.16
  project/ProjectSettings.scala
  project/plugins.sbt
Labels: dependencies

#830 Update sbt-scalajs, scalajs-compiler, ... to 1.18.2
  project/plugins.sbt
Labels: dependencies

#818 Update tapir-core, tapir-server to 1.11.13
  project/Dependencies.scala
Labels: dependencies

#841 Fix ignore request names in TracerSampler
  zio/opentelemetry/src/main/scala/io/kinoplan/utils/zio/opentelemetry/provider/TracerSampler.java
Labels: bug

#844 Update zio, zio-test, zio-test-sbt to 2.1.15
  project/Dependencies.scala
Labels: dependencies

#843 Update client3:core, ... to 3.10.3
  project/Dependencies.scala
Labels: dependencies

#842 Improve dropIndexes for smartEnsureIndexes in reactivemongo
  common/reactivemongo/base/src/main/scala/io/kinoplan/utils/reactivemongo/base/SmartIndex.scala
  play/reactivemongo/src/main/scala/io/kinoplan/utils/play/reactivemongo/ReactiveMongoDaoBase.scala
  zio/reactivemongo/src/main/scala/io/kinoplan/utils/zio/reactivemongo/ReactiveMongoDaoBase.scala
Labels: improvement

#846 Add effect-based smartEnsureIndexes in zio-reactivemongo
  zio/reactivemongo/src/main/scala/io/kinoplan/utils/zio/reactivemongo/ReactiveMongoDaoBase.scala
Labels: enhancement

#837 Limit db.query.text length in ReactivemongoKamonInstrumentation
  common/reactivemongo/kamon-instrumentation/src/main/resources/reference.conf
  common/reactivemongo/kamon-instrumentation/src/main/scala/io/kinoplan/utils/reactivemongo/kamon/instrumentation/Printer.scala
  common/reactivemongo/kamon-instrumentation/src/main/scala/io/kinoplan/utils/reactivemongo/kamon/instrumentation/ReactiveMongoClientInstrumentation.scala
  common/reactivemongo/kamon-instrumentation/src/main/scala/reactivemongo/api/MongoConnectionSendExpectingResponseAdvice.scala
  common/reactivemongo/kamon-instrumentation/src/test/scala/io/kinoplan/utils/reactivemongo/kamon/instrumentation/PrinterSpec.scala
Labels: enhancement

#847 Update tapir-core, tapir-server to 1.11.14
  project/Dependencies.scala
Labels: dependencies

#848 Update zio-prelude to 1.0.0-RC38
  project/Dependencies.scala
Labels: dependencies

#850 Update chimney to 1.7.3
  project/Dependencies.scala
Labels: dependencies

#849 Update opentelemetry-api, ... to 1.47.0
  project/Dependencies.scala
Labels: dependencies

#852 Update micrometer-registry-prometheus to 1.14.4
  project/Dependencies.scala
Labels: dependencies

#851 Update zio-prelude to 1.0.0-RC39
  project/Dependencies.scala
Labels: dependencies

#854 Update prometheus-metrics-exporter-httpserver to 1.3.6
  project/Dependencies.scala
Labels: dependencies

#855 Update scalafmt-core to 3.9.0
  .scalafmt.conf
Labels: dependencies

#856 Update tapir-core, tapir-server to 1.11.15
  project/Dependencies.scala
Labels: dependencies

#857 Update sbt-scalafix to 0.14.2
  project/plugins.sbt
Labels: dependencies

#860 Update mongodb to 1.20.5
  project/Dependencies.scala
Labels: dependencies

#859 Update sbt-scoverage to 2.3.1
  project/plugins.sbt
Labels: dependencies

#863 Update zio, zio-test, zio-test-sbt to 2.1.16
  project/Dependencies.scala
Labels: dependencies
