Repository kinoplan/utils, pull requests merged in 2025-01, with the labels that each got.

#813 Update chimney to 1.6.0
  project/Dependencies.scala
Labels: dependencies

#808 Update zio-prelude to 1.0.0-RC36
  project/Dependencies.scala
Labels: dependencies

#805 Follow opentelemetry http-server spec in ZIO TracingInterceptor
  project/Dependencies.scala
  project/ModulesZio.scala
  zio/tapir/opentelemetry/src/main/scala/io/kinoplan/utils/zio/tapir/opentelemetry/TracingInterceptor.scala
Labels: enhancement

#798 Support tracing in play ReactiveMongoDaoBase via Kamon
  .sbtopts
  README.md
  build.sbt
  common/reactivemongo/kamon-instrumentation/src/main/resources/reference.conf
  common/reactivemongo/kamon-instrumentation/src/main/scala/io/kinoplan/utils/reactivemongo/kamon/instrumentation/ReactiveMongoClientInstrumentation.scala
  common/reactivemongo/kamon-instrumentation/src/main/scala/reactivemongo/api/MongoConnectionSendExpectingResponseAdvice.scala
  common/reactivemongo/kamon-instrumentation/src/test/resources/logback.xml
  common/reactivemongo/kamon-instrumentation/src/test/scala/io/kinoplan/utils/reactivemongo/kamon/instrumentation/ReactiveMongoClientInstrumentationSpec.scala
  play/reactivemongo/src/main/scala/io/kinoplan/utils/play/reactivemongo/ReactiveMongoDaoBase.scala
  play/reactivemongo/src/main/scala/io/kinoplan/utils/play/reactivemongo/ReactiveMongoOperations.scala
  play/reactivemongo/src/main/scala/io/kinoplan/utils/play/reactivemongo/metrics/ReactiveMongoMetrics.scala
  project/Dependencies.scala
  project/ModulesCommon.scala
  project/ModulesPlay.scala
  project/plugins.sbt
  zio/opentelemetry/src/main/scala/io/kinoplan/utils/zio/opentelemetry/provider/TracerProvider.scala
Labels: feature

#817 Update logback-classic, logback-core to 1.5.16
  project/Dependencies.scala
Labels: dependencies

#819 Update zio-opentelemetry to 3.1.1
  project/Dependencies.scala
Labels: dependencies

#821 Update micrometer-registry-prometheus to 1.14.3
  project/Dependencies.scala
Labels: dependencies

#823 Update sbt-scalajs, scalajs-compiler, ... to 1.18.1
  project/plugins.sbt
Labels: dependencies

#825 Update sbt-scalafmt to 2.5.4
  project/plugins.sbt
Labels: dependencies

#826 Update scalafmt-core to 3.8.5
  .git-blame-ignore-revs
  .scalafmt.conf
  build.sbt
  common/chimney/zio-prelude/src/main/scala/io/kinoplan/utils/chimney/zio/prelude/ChimneyImplicitsPrelude.scala
  common/circe/zio-prelude/src/main/scala/io/kinoplan/utils/circe/zio/prelude/CirceCodecPrelude.scala
  common/http4s/server/src/main/scala/io/kinoplan/utils/http4s/server/middleware/CustomLogger.scala
  common/reactivemongo/base/src/main/scala/io/kinoplan/utils/reactivemongo/base/Queries.scala
  common/reactivemongo/bson-joda-time/src/main/scala/io/kinoplan/utils/reactivemongo/bson/joda/time/BsonJodaTimeHandlers.scala
  common/reactivemongo/bson-zio-prelude/src/main/scala/io/kinoplan/utils/reactivemongo/bson/zio/prelude/BsonPreludeHandlers.scala
  common/reactivemongo/kamon-instrumentation/src/main/scala/io/kinoplan/utils/reactivemongo/kamon/instrumentation/ReactiveMongoClientInstrumentation.scala
  common/reactivemongo/kamon-instrumentation/src/test/scala/io/kinoplan/utils/reactivemongo/kamon/instrumentation/ReactiveMongoClientInstrumentationSpec.scala
  common/redisson/core/src/main/scala/io/kinoplan/utils/redisson/core/JavaDecoders.scala
  common/redisson/core/src/main/scala/io/kinoplan/utils/redisson/core/operation/RedisScoredSetOperations.scala
  common/redisson/core/src/main/scala/io/kinoplan/utils/redisson/core/operation/RedisServiceOperations.scala
  common/tapir/zio-prelude/src/main/scala/io/kinoplan/utils/tapir/zio/prelude/TapirCodecPrelude.scala
  implicits/collection/src/main/scala-2.12/io/kinoplan/utils/implicits/CollectionSeqLike.scala
  implicits/collection/src/main/scala-2.13/io/kinoplan/utils/implicits/CollectionSyntax.scala
  implicits/date/java-time/src/main/scala/io/kinoplan/utils/implicits/java/time/JavaTime.scala
  implicits/zio-prelude/src/main/scala-2.12/io/kinoplan/utils/implicits/zio/prelude/ZioPreludeCollectionSyntax.scala
  play/error-handler/src/main/scala/io/kinoplan/utils/play/error/ErrorHandler.scala
  play/filters/logging/src/main/scala/io/kinoplan/utils/play/filters/logging/LoggingFilter.scala
  play/filters/logging/src/test/scala-2.12/io/kinoplan/utils/play/filters/logging/kit/ListAppenderSyntax.scala
  play/reactivemongo/src/main/scala/io/kinoplan/utils/play/reactivemongo/ReactiveMongoOperations.scala
  play/reactivemongo/src/test/scala/io/kinoplan/utils/play/reactivemongo/QueryBindablesSpec.scala
  zio/http4s/healthcheck/src/main/scala/io/kinoplan/utils/zio/http4s/HealthcheckServer.scala
  zio/http4s/healthcheck/src/main/scala/io/kinoplan/utils/zio/http4s/IntegrationHealthcheck.scala
  zio/http4s/healthcheck/src/main/scala/io/kinoplan/utils/zio/http4s/config/IntegrationHealthcheckConfig.scala
  zio/opentelemetry/src/main/scala/io/kinoplan/utils/zio/opentelemetry/provider/TracerProvider.scala
  zio/reactivemongo/src/main/scala/io/kinoplan/utils/zio/reactivemongo/ReactiveMongoDaoBase.scala
  zio/reactivemongo/src/main/scala/io/kinoplan/utils/zio/reactivemongo/ReactiveMongoOperations.scala
  zio/reactivemongo/src/main/scala/io/kinoplan/utils/zio/reactivemongo/TransactionSupport.scala
  zio/reactivemongo/src/main/scala/io/kinoplan/utils/zio/reactivemongo/config/MongoConfig.scala
  zio/sttp/opentelemetry/src/main/scala/io/kinoplan/utils/zio/sttp/opentelemetry/OpenTelemetryTracingZioBackend.scala
  zio/tapir/opentelemetry/src/main/scala/io/kinoplan/utils/zio/tapir/opentelemetry/TracingInterceptor.scala
Labels: dependencies

#828 Update mongodb to 1.20.4
  project/Dependencies.scala
Labels: dependencies

#822 Update opentelemetry-api, ... to 1.46.0
  project/Dependencies.scala
Labels: dependencies

#831 Update scalafmt-core to 3.8.6
  .scalafmt.conf
Labels: dependencies
